.random-planet{
    margin-top: 50px;
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 1110px;
    background-color: #303030;
    border-radius: 10px;
}

h3 {
    
    text-decoration: none;
}

.random-panet-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.planet-info{
    
    list-style: none;
}

.planet-info span {
    text-decoration: underline 3px #424242;
    padding-left: 10px;
}


