.button-row {
    margin: 0 0 1rem 0;
  }
  
  .button-row button {
    margin-right: 1rem;
  }
  
  .stardb-app .row {
    margin-bottom: 1rem;
  }

  .container{
    
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }

.max1080 {
  max-width: 1080px;
  display: flex;
  margin: 0px 0px;
  justify-content: space-between;
}

.block {
  width: 1080px;
}