.person-details {
  margin-top: 50px;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #303030;
  border-radius: 10px;
  max-width: 540px;
}

.person-details img {
  height: 150px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.person-details ul {
  list-style-type: none;
}

.block {
  max-width: 1110px;
  padding: 0px 0px;
}

span {
  margin-left: 10px;
}

.spinner {
  margin-left: 10px;
}