.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 1110px;
  cursor: pointer;
}

.nav{
  display: flex;
  list-style: none;
  
}

.nav li{
  margin: 30px 60px 0 0;

}

a{
  text-decoration: none;
}

.logo {
  color: white;
  margin: -10px 60px 0 0;
}



